<h2>Orders</h2>
<div *ngFor="let order of orders" layout-gt-sm="column">
	<mat-card flex-gt-sm>
		<mat-card-title>{{order.tables.tableName}} - {{order.waiterName}}</mat-card-title>
		<mat-card-subtitle>note: {{order.note}}</mat-card-subtitle>
		<!-- <mat-divider></mat-divider> -->
		<mat-card-content>
			<div *ngFor="let item of order.menuIdsandQty">
				~ {{item.name}} - {{item.dishQty}} - {{item.orderQty}}
			</div>
		</mat-card-content>
		<mat-card-actions>
			<mat-radio-group aria-label="Select an option">
				<mat-radio-button value="Accepted" (change)="radioChange($event, order)">Accept</mat-radio-button>
				<mat-radio-button value="Completed" (change)="radioChange($event, order)">Completed</mat-radio-button>
			</mat-radio-group>
		</mat-card-actions>
	</mat-card>
</div>
<br>
<h2 *ngIf="completedOrders.length !=0">Completed Orders</h2>
<div *ngFor="let order of completedOrders" layout-gt-sm="column">
	<mat-card flex-gt-sm>
		<mat-card-title>{{order.tables.tableName}} - {{order.waiterName}}</mat-card-title>
		<mat-card-subtitle>note:{{order.note}}</mat-card-subtitle>
		<mat-card-content>
			<div *ngFor="let item of order.menuIdsandQty">
				~ {{item.name}} - {{item.dishQty}} - {{item.orderQty}}
			</div>
		</mat-card-content>
		<mat-card-actions>

		</mat-card-actions>
	</mat-card>
</div>