<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-menu-heading" jhiTranslate="orderManagementSystemApp.menu.home.createOrEditLabel">Create or edit a Menu</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderManagementSystemApp.menu.price" for="field_price">Price</label>
                    <input type="text" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                    <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderManagementSystemApp.menu.isAvailable" for="field_isAvailable">Is Available</label>
                    <input type="checkbox" class="form-control" name="isAvailable" id="field_isAvailable"
                           formControlName="isAvailable"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderManagementSystemApp.menu.dish" for="field_dish">Dish</label>
                    <select class="form-control" id="field_dish" name="dish" formControlName="dish">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dishOption.id === editForm.get('dish')!.value?.id ? editForm.get('dish')!.value : dishOption" *ngFor="let dishOption of dishes; trackBy: trackById">{{ dishOption.dishName }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderManagementSystemApp.menu.dishQty" for="field_dishQty">Dish Qty</label>
                    <select class="form-control" id="field_dishQty" name="dishQty" formControlName="dishQty">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dishQtyOption.id === editForm.get('dishQty')!.value?.id ? editForm.get('dishQty')!.value : dishQtyOption" *ngFor="let dishQtyOption of dishqties; trackBy: trackById">{{ dishQtyOption.qtyName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
