<div>
    <h2 id="page-heading">
        <span jhiTranslate="orderManagementSystemApp.order.home.title">Orders</span>

        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order" [routerLink]="['/order/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="orderManagementSystemApp.order.home.createLabel">
            Create a new Order
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
        <span jhiTranslate="orderManagementSystemApp.order.home.notFound">No orders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orders && orders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="menuIdsandQty"><span jhiTranslate="orderManagementSystemApp.order.menuIdsandQty">Menu Idsand Qty</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="waiterName"><span jhiTranslate="orderManagementSystemApp.order.waiterName">Waiter Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span jhiTranslate="orderManagementSystemApp.order.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orderDate"><span jhiTranslate="orderManagementSystemApp.order.orderDate">Order Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orderstatus"><span jhiTranslate="orderManagementSystemApp.order.orderstatus">Orderstatus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="menu.id"><span jhiTranslate="orderManagementSystemApp.order.menu">Menu</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tables.id"><span jhiTranslate="orderManagementSystemApp.order.tables">Tables</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders ;trackBy: trackId">
                    <td><a [routerLink]="['/order', order.id, 'view']">{{ order.id }}</a></td>
                    <td>{{ order.menuIdsandQty }}</td>
                    <td>{{ order.waiterName }}</td>
                    <td>{{ order.note }}</td>
                    <td>{{ order.orderDate | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'orderManagementSystemApp.OrderStatus.' + order.orderstatus }}">{{ order.orderstatus }}</td>
                    <td>
                        <div *ngIf="order.menu">
                            <a [routerLink]="['/menu', order.menu?.id, 'view']" >{{ order.menu?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="order.tables">
                            <a [routerLink]="['/tables', order.tables?.id, 'view']" >{{ order.tables?.tableName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order', order.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                    [routerLink]="['/order', order.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(order)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="orders && orders.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
