<nav *jhiHasAnyAuthority="'ROLE_ADMIN'" class="navbar sticky-top navbar-light bg-light row spaceBetween">
	<h2>All {{status}} Orders</h2>
</nav>
<nav *jhiHasAnyAuthority="'ROLE_USER'" class="navbar sticky-top navbar-light bg-light row spaceBetween">
	<h2>My Orders</h2>
</nav>
<h3 *ngIf="orders && orders.length == 0">Start taking orders to see!</h3>
<section class="items">
	<div class="card" [id]="order.id" *ngFor="let order of orders;let i = index">
			<div class="card-body">
			  <h5 class="card-title"># {{order.id}} <br> {{order.tables.tableName}} - {{order.waiterName}}</h5>
			  <h6 class="card-subtitle mb-2 text-muted">note: {{order.note}}</h6>
			  <div *ngFor="let item of order.menuIdsandQty;let j = index">	  
				<span><fa-icon [icon]="faCoffee"  [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon></span>
				<label> {{item.name}} - {{item.dishQty}} - {{item.orderQty}} </label> 
			</div>
			</div>
	</div>
    <div *ngIf="orders && orders.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</section>