<div class="">
  <nav class="navbar sticky-top navbar-light bg-light row spaceBetween">
        <h1>Menu</h1>
        <div class="form-group row">
          <div class="col-sm-12" >
            <ng-select data-toggle="tooltip" data-placement="bottom"
            title="Search for Dishes" id="selectDish" name="selectDish" [groupBy]="groupByFn" (remove)="onSearchItemRemove($event)" (clear)="onSearchClear()"
            [multiple]="true" (change)="selectedItem(selectedDishes)" bindLabel="dish.dishName" notFoundText="Sry try with Different Dish Name!.."
            [searchable]="true" [hideSelected]="true" [items]="category" placeholder="Search for dish" [(ngModel)] = "selectedDishes"
            [clearable]="true">
            <ng-template ng-label-tmp let-item="item">
              <img height="15" width="15" [src]="item?.dish?.dishImage | sanitizeUrl"/>
              <b>{{item?.dish?.dishName}} <p id="{{item.dish.id}}" class="badge badge-pill badge-success">{{ fetchOrderQty(item) }}</p> </b>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <img height="15" width="15" [src]="item?.dish?.dishImage | sanitizeUrl"/>
            <b>{{item?.dish?.dishName}}<p id="{{item.dish.dishName}}" class="badge badge-pill badge-success">{{ fetchOrderQty(item) }}</p> </b>
        </ng-template>
        </ng-select>
          </div>
        </div>
        <a class="navbar-brand">
          <button type="button" *ngIf="showOrderButton" (click)="orderButtonClicked()" class="btn btn-primary">order</button>
        </a>
  </nav>     
    <ngb-tabset  justify="justified"
    type="pills" (tabChange)="selectedActiveTab($event.nextId)" *ngIf="!dishSelected;else selectedBlock" #tabset [destroyOnHide]="true">
      
      <ngb-tab id="0" title="Todays Spl">
        <ng-template ngbTabContent>
          <jhi-dish-view [dishes]="todaySplMenu" [todaysSpl]="true" [showDescription]="showDescription" ></jhi-dish-view>
        </ng-template>
      </ngb-tab>
       
      <ngb-tab id="1">
        <ng-template ngbTabTitle>Dish Category</ng-template>
        <ng-template ngbTabContent>
            <jhi-dish-category *ngIf="categoryList" [menus]="categoryList" ></jhi-dish-category>
        </ng-template>
      </ngb-tab>
       
      <ngb-tab id="2">
        <ng-template ngbTabTitle>Order Details</ng-template>
        <ng-template ngbTabContent>
            <jhi-order-details></jhi-order-details>
        </ng-template>
      </ngb-tab>   
    </ngb-tabset>
     <ng-template #selectedBlock>
      <jhi-dish-view [dishes]="selectedDishes" [showDescription]="showDescription"></jhi-dish-view>
     </ng-template>
    </div> 