<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tables">
            <h2><span jhiTranslate="orderManagementSystemApp.tables.detail.title">Tables</span> {{ tables.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orderManagementSystemApp.tables.tableName">Table Name</span></dt>
                <dd>
                    <span>{{ tables.tableName }}</span>
                </dd>
                <dt><span jhiTranslate="orderManagementSystemApp.tables.tablestatus">Tablestatus</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'orderManagementSystemApp.TableStatus.' + tables.tablestatus }}">{{ tables.tablestatus }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tables', tables.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
