<h1 mat-dialog-title>Order Details</h1>
<div mat-dialog-content>
    <!-- <mat-card-title>{{order.tables.tableName}} - {{order.waiterName}}</mat-card-title>
    <mat-card-subtitle>note: {{order.note}}</mat-card-subtitle> -->
        <div *ngFor="let item of data.menuIdsandQty">
            <mat-checkbox [(ngModel)]="item.isdishReady" (ngModelChange)="updateCheckbox(data)"></mat-checkbox>
            ~ {{item.name}} - {{item.dishQty}} - {{item.orderQty}}
        </div>
        <p class="note">note: {{data.note}}</p>
</div>
<div mat-dialog-actions>

    <button class="btn btn-primary" (click)="OrderUpdate(data)">{{btnValue}}</button>
    <br>
    <button class="btn btn-primary" (click)="AddMoreDishes(data)">Add more</button>
</div>