.gridtile {
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: black;
  font-weight: 400;
  background: white;
}
.occupied {
  background: linear-gradient(90deg, white 90%, #4caf50 10%);
}
